@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 3000px;
  font-family: 'Kanit', sans-serif;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  background: #111;
  flex-direction: column;
}

.card {
  width: 100%;
  text-align: center;
  position: relative;
}

/* GIF ครึ่งจอแนวตั้ง */
.gif {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* controls ซ้อนบน gif */
.controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  background: rgba(0, 0, 0, 0.45);
  padding: 0 25px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/* ปุ่ม icon และปุ่ม control ใช้สไตล์เดียวกัน */
.controlButton,
.iconButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

/* Hover effect เปลี่ยนสี (สีเขียว) และขยายเล็กน้อย */
.controlButton:hover,
.iconButton:hover {
  color: #d692cd; /* สีเขียว Spotify */
  transform: scale(1.3);
}

/* ชื่อเพลง */
.songTitle {
  color: white;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  user-select: none;
}

.audio {
  display: none;
}
