@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');



/* --- CSS Variables สำหรับปรับแต่งสีได้ง่าย --- */
:root {
  --icon-primary-color: #000000;
  --icon-secondary-color: #000000;
}

.appBarCustom {
  background-color: #000000 !important; 
  padding: 0 5px;
}
/* ^^^ เพิ่มส่วนนี้เข้ามา ^^^ */

.menuButton {
  margin-right: 25px !important;
}


.title {
  flex-grow: 1 !important;
  font-weight: bold !important;
}


/* --- Styles for Profile Menu --- */
.menuPaper {
  margin-top: 8px !important;
}


/* --- Styles for Drawer --- */
.drawerContainer {
  width: 250px;
}

.drawerTitle {
  margin: 15px 0 !important;
  padding: 0 16px !important;
}


/* --- Styles for Icons --- */
.iconPrimary {
  color: var(--icon-primary-color);
}
.iconSecondary {
  color: var(--icon-secondary-color);
}

